.Block {
    display: flex;
    justify-content: space-between;
    ;
    align-items: center;
    width: 1000px;
    height: 100px;
    background-color: bisque;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
}
.Left{
    /* background-color: red; */
    height: 100%;
    width: 30%;
    object-fit: contain;
}

.Middle{
    /* background-color: red; */
    height: 100%;
    width: 600px;
    opacity: 60%;
}

.Middle .t{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50%;
}
.Middle .a{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 50%;
}
.text{
    opacity: 100%;
}
.Right {
    /* background: transparent; */
    background-color: transparent;
    border: none;
    padding-right: 10px; 
}

.Right:hover {
    background-color: transparent;
    cursor: pointer;
    /* color: red; */
}



.trashicon {
    height: 25px;
    width: 20px;
}